/* Color pallete
Hex Codes: #ffffff // #00171f // #003459 // #007ea7 // #00a8e8 */
body {
    background-color: #001429;
    margin: 0px;
    padding-bottom: 0px;
    width: 1280px;
}

header {
    width: 100%;
    height: 68px;
    margin: 0px;
    top: 0px;
    background-color: #002956;

}

#title-1{
    position:absolute;
    margin:0px;
    top: 0px;
    left: 100px;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: bold;
    color:#ffffff;
    border-radius: 50%;
    text-shadow:0 0 3px #001429;
    

}

#title-2{
    position: absolute;
    width: 250px;
    top: 24px;
    left: 100px;
    font-family: 'Poppins';
    font-size: 15px;
    color:#ffffff;

}

.gconnect-button {
    height: 68px;
    padding-right: 0px;
    padding-left: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px
}

.pilih-hari {
    margin: 0px;
    position: absolute;
    top: 90px;
    left: 100px;
    border-radius: 20%;
}

.search {
    height: 20px;
    width: 140px;
    padding: 8px 15px;
    background: #2d85b7;
    border: 0px solid #dbdbdb;
    border-radius: 40px 40px 40px 40px;
    position: absolute;
    left: 1048px;
    top: 16px;
}

.search-button {
    height: 35px;
    padding: 6px 15px;
    border: 2px solid #221c5a;
    border-radius: 40px 40px 40px 40px;
    position: absolute;
    background-color: #04e3ff;
    color: #070707;
    left: 1220px;
    top: 16px;
    font-family: 'Poppins';
    font-size: 11px;
}

.search-button:hover:hover {
    background-color: rgba(221, 199, 199, 0.13);
    color: #207cca;
}

.menu-container {
    position: relative;
    width: 67px;
    height: 520px;
    background-color: #021868;
    transition: width 0.5s;

    overflow: hidden;
}

.menu-container:hover {
    width: 210px;
    box-shadow: 10px 0px 35px 1px #103a9c;
    transition-timing-function: ease-in;
}

.grafik-menu {
    height: 48px;
    /* background-color: #14175a;  */
    /* border: 1px solid  black; */
}

    .grafik-button {
        /* background-color: #14175a; */
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: 10px;
        position: absolute;
        /* top: 10px;
        left: 10px;
        bottom: 10px; */
        border: 0px;
        padding: 0px;
    }

    .tulisan-grafik{
        position:relative;
        top: 22px;
        left: 27px;
        margin-top: 60px;
        margin-left: 40px;
        /* left: 80px;
        top: 0px; */
        font-family: 'Poppins';
        font-size: 25px;
        letter-spacing: 2px;
        color:#ffffff;
    }

.darbord-menu {
    height: 43px;
    /* background-color: #14175a;  */
    /* border: 1px solid  black; */
}

    .dasbord-button {
        /* background-color: #14175a; */
        width: 40px;
        height: 40px;
        margin-top: 30px;
        margin-left: 10px;
        position: absolute;
        /* top: 10px;
        left: 10px;
        bottom: 10px; */
        border: 0px;
        padding: 0px;
    }

    .tulisan-dasbord{
        position:relative;
        top: 32px;
        left: 27px;
        margin-top: 60px;
        margin-left: 40px;
        /* left: 80px;
        top: 0px; */
        font-family: 'Poppins';
        font-size: 25px;
        letter-spacing: 2px;
        color:#ffffff;
    }

.notifikasi-menu {
    height: 43px;
    /* background-color: #14175a;  */
    /* border: 1px solid  black; */
}

    .notifikasi-button {
        /* background-color: #14175a; */
        width: 40px;
        height: 40px;
        margin-top: 50px;
        margin-left: 10px;
        position: absolute;
        /* top: 10px;
        left: 10px;
        bottom: 10px; */
        border: 0px;
        padding: 0px;
    }

    .tulisan-notifikasi{
        position:relative;
        top: 52px;
        left: 27px;
        margin-top: 60px;
        margin-left: 40px;
        /* left: 80px;
        top: 0px; */
        font-family: 'Poppins';
        font-size: 25px;
        letter-spacing: 2px;
        color:#ffffff;
    }

.lokasi-menu {
    height: 43px;
    /* background-color: #14175a;  */
    /* border: 1px solid  black; */
}

    .lokasi-button {
        /* background-color: #14175a; */
        width: 40px;
        height: 40px;
        margin-top: 70px;
        margin-left: 10px;
        position: absolute;
        /* top: 10px;
        left: 10px;
        bottom: 10px; */
        border: 0px;
        padding: 0px;
    }

    .tulisan-lokasi{
        position:relative;
        top: 72px;
        left: 27px;
        margin-top: 60px;
        margin-left: 40px;
        /* left: 80px;
        top: 0px; */
        font-family: 'Poppins';
        font-size: 25px;
        letter-spacing: 2px;
        color:#ffffff;
    }

.akun-menu {
    height: 43px;
    /* background-color: #14175a;  */
    /* border: 1px solid black; */
}

    .akun-button {
        /* background-color: #14175a; */
        width: 40px;
        height: 40px;
        margin-top: 90px;
        margin-left: 10px;
        position: absolute;
        /* top: 10px;
        left: 10px;
        bottom: 10px; */
        border: 0px;
        padding: 0px;
    }

    .tulisan-akun{
        position:relative;
        top: 92px;
        left: 27px;
        margin-top: 60px;
        margin-left: 40px;
        /* left: 80px;
        top: 0px; */
        font-family: 'Poppins';
        font-size: 25px;
        letter-spacing: 2px;
        color:#ffffff;
    }

footer {
    width: 100%;
    height: 45px;
    background-color: #002956;
    text-align: center;
    font-family: 'Poppins';
}

select:invalid {
    color: gray;
}

#judul-gconnect {
    color: #ffffff;
    width: 150px;
    margin: 0px;
    padding: 9px;
    font-family: 'Poppins';
    font-size: 15px;
    letter-spacing: 1px;
    bottom: 10px;
}

#judul-menu {
    margin: 0px;
    text-align: center;
    padding: 20px;
    background-color: #00171f;
    font-family: "Poppins";
    color: #ffffff;
}

#chartContainer {
    height: 450px;
    width: 1100px;
    position: absolute;
    top: 110px;
    left: 100px;
    /* bottom: 700px; */
    /* z-index: -1; */
}

#tulisan-footer {
    margin: 0px;
    color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-footer {
    height: 50px;
    weight: 200px;
}