body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-creative-thoughts: "Creative Thoughts";
  --font-nixie-one: "Nixie One";
  --font-codec-pro: "Codec Pro";
  --font-cinzel: Cinzel;
  --font-tommy-hilfiger-af: "TOMMY HILFIGER AF";

  /* font sizes */
  --font-size-27xl: 46px;
  --font-size-15xl: 34px;
  --font-size-77xl: 96px;
  --font-size-17xl: 36px;
  --font-size-92xl: 111px;
  --font-size-79xl: 98px;
  --font-size-9xl: 28px;
  --font-size-18xl: 37px;
  --font-size-31xl: 50px;
  --font-size-6xl: 25px;
  --font-size-50xl: 69px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray-100: #5c635c;
  --color-dimgray-200: #4e4a4a;
  --color-gainsboro: #e4e4e4;
  --color-gray-100: #121312;
  --color-gray-200: rgba(40, 40, 40, 0.66);
  --color-gray-300: rgba(255, 255, 255, 0.83);
  --color-gray-400: rgba(255, 255, 255, 0.57);
  --color-gray-500: rgba(18, 19, 18, 0.8);
  --color-gray-600: rgba(18, 19, 18, 0.63);
  --color-gray-700: rgba(255, 255, 255, 0.8);
  --color-gray-800: rgba(18, 19, 18, 0.69);
  --color-gray-900: rgba(0, 0, 0, 0);
  --color-gray-1000: rgba(255, 255, 255, 0.74);
  --color-gray-1100: rgba(0, 0, 0, 0.5);
  --color-gray-1200: rgba(0, 0, 0, 0.63);
  --color-gray-1300: rgba(255, 255, 255, 0.63);
  --color-black: #000;
  --color-darkgray: #969696;
  --color-darkslategray: rgba(60, 60, 60, 0.66);

  /* Gaps */
  --gap-6xl: 25px;
  --gap-4xl: 23px;

  /* Paddings */
  --padding-5xl-2: 24.2px;
  --padding-29xl: 48px;
  --padding-12xs-7: 0.7px;
}
