.bg-1-icon,
.bg-2-picture-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 3866.77px;
  object-fit: cover;
}
.bg-2-picture-icon {
  height: 2160px;
}
.bg-2-color {
  top: 0;
  background-color: var(--color-darkslategray-100);
  height: 2160px;
}
.bg-2,
.bg-2-color,
.bg-3-icon {
  position: absolute;
  left: 0;
  width: 1920px;
}
.bg-2 {
  top: 3866.77px;
  background-color: var(--color-darkslategray-100);
  height: 2160px;
}
.bg-3-icon {
  top: 6026.77px;
  height: 1080px;
  object-fit: cover;
}
.footer-line,
.footer-text {
  align-self: stretch;
  position: relative;
}
.footer-line {
  background-color: var(--color-gray-700);
  height: 3.72px;
}
.footer-text {
  letter-spacing: -0.01em;
}
.footer {
  position: absolute;
  top: 7033.21px;
  left: 191.72px;
  width: 1536.56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 21px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-800);
  font-family: var(--font-typo-grotesk);
}
.contacts-title-child {
  position: absolute;
  top: 48.68px;
  left: 100.68px;
  width: 692.72px;
  height: 124.82px;
}
.more-of-me {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
}
.contacts-title {
  position: relative;
  width: 898px;
  height: 184px;
}
.email-bg,
.linkedin-box-icon {
  position: absolute;
  top: 0;
  width: 194px;
  height: 194px;
}
.linkedin-box-icon {
  left: 194px;
  object-fit: cover;
}
.email-bg {
  left: 0;
  background-color: var(--color-gray-600);
}
.email-logo-icon {
  position: absolute;
  height: 42.78%;
  width: 53.48%;
  top: 28.61%;
  right: 23.26%;
  bottom: 28.61%;
  left: 23.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.email-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 194px;
  height: 194px;
}
.contacts-row-1,
.contacts-row-2-icon,
.instagram-box-icon {
  position: relative;
  width: 388px;
  height: 194px;
}
.contacts-row-2-icon,
.instagram-box-icon {
  object-fit: cover;
}
.instagram-box-icon {
  width: 194px;
}
.thanks-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  width: 194px;
  height: 194px;
}
.thank {
  position: relative;
  letter-spacing: -0.01em;
  justify-content: center;
  height: 41.45px;
  flex-shrink: 0;
}
.thank,
.thanks-text,
.you {
  width: 153.82px;
  display: flex;
  align-items: center;
}
.you {
  position: relative;
  font-size: var(--font-size-29xl);
  letter-spacing: 0.12em;
  justify-content: center;
  height: 41.45px;
  flex-shrink: 0;
}
.thanks-text {
  position: absolute;
  top: 55.55px;
  left: 20.09px;
  height: 87.57px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
}
.thanks-box {
  position: relative;
  width: 194px;
  height: 194px;
}
.contacts-row-3 {
  height: 194px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.contacts-content,
.contacts-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contacts-content {
  width: 388px;
  align-items: center;
  font-size: var(--font-size-18xl);
  color: var(--color-gray-500);
  font-family: var(--font-tommy-hilfiger-af);
}
.contacts-section {
  position: absolute;
  top: 6078.47px;
  left: 511px;
  width: 898px;
  height: 840.85px;
  align-items: flex-end;
  gap: 74px;
  font-size: var(--font-size-143xl);
  font-family: var(--font-nixie-one);
}
.sam-picture-icon {
  position: absolute;
  top: 269.39px;
  left: 23.47px;
  width: 594.78px;
  height: 591.78px;
  object-fit: cover;
}
.creative-programmer-and {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.gain-leadership-skills {
  margin: 0;
}
.sam-text-txt {
  line-break: anywhere;
  width: 100%;
}
.sam-text,
.sam-title-text {
  display: flex;
  align-items: center;
}
.sam-text {
  position: absolute;
  height: 76.22%;
  width: 52.65%;
  top: 22.22%;
  left: 50%;
  letter-spacing: -0.04em;
  line-height: 134%;
}
.sam-title-text {
  position: relative;
  letter-spacing: -0.01em;
  justify-content: center;
  width: 755.02px;
  height: 102.62px;
  flex-shrink: 0;
}
.line-title-icon {
  position: relative;
  width: 250.25px;
  height: 3px;
}
.sam-title {
  position: absolute;
  top: 0;
  left: 323.37px;
  width: 755.02px;
  height: 127.62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  text-align: center;
  font-size: var(--font-size-77xl);
  font-family: var(--font-creative-thoughts);
}
.sam-section {
  position: absolute;
  top: 5034.43px;
  left: 259.12px;
  width: 1470.42px;
  height: 905.49px;
  text-align: left;
  font-size: var(--font-size-15xl);
  font-family: var(--font-codec-pro);
}
.certif-title1 {
  position: relative;
  letter-spacing: -0.01em;
}
.certif-title {
  width: 431px;
  height: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.certif-bg-dark,
.certif-bg-light {
  position: relative;
  background-color: rgba(255, 255, 255, 0.74);
  width: 758.01px;
  height: 634.48px;
}
.certif-bg-dark {
  background-color: rgba(0, 0, 0, 0.67);
  width: 610.92px;
}
.certif-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 634.48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.certif-picture-icon {
  position: relative;
  width: 566.96px;
  height: 397.57px;
  object-fit: cover;
}
.certif-frame {
  position: relative;
  background-color: rgba(0, 0, 0, 0.08);
  border: 13px solid #969696;
  box-sizing: border-box;
  width: 592.96px;
  height: 423.57px;
  margin-top: -397px;
}
.certif-document {
  position: absolute;
  top: 118.45px;
  left: 733.83px;
  width: 566.96px;
  height: 397.57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.gamaforce-membership {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.certificate {
  margin: 0;
  font-size: var(--font-size-18xl);
}
.certif-1-title {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 85%;
  display: flex;
  align-items: center;
  width: 626.7px;
  height: 109.13px;
  flex-shrink: 0;
}
.certif-1-desc {
  position: undefined;
  font-size: 28px;
  letter-spacing: -0.05em;
  line-height: 116%;
  font-family: var(--font-codec-pro);
  color: #4e4a4a;
  display: flex;
  align-items: center;
  width: 561.13px;
  height: 128px;
  margin-left: 40px;
}
.cerfif-1-text {
  position: absolute;
  top: 184.61px;
  left: 44.55px;
  width: 626.7px;
  height: 260.63px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
}
.certif-down-button-icon,
.certif-up-button-icon {
  position: absolute;
  height: 3.68%;
  width: 3.41%;
  top: 16.83%;
  right: 72.15%;
  bottom: 79.49%;
  left: 24.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.certif-down-button-icon {
  top: 79.49%;
  bottom: 16.83%;
}
.certif-content {
  position: relative;
  width: 1368.93px;
  height: 634.48px;
  text-align: left;
  font-size: 50px;
  color: var(--color-black);
  font-family: var(--font-cinzel);
}
.certif-section {
  position: absolute;
  top: 3965.96px;
  left: 275.53px;
  width: 1368.93px;
  height: 837.19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 68px;
}
.exp-title,
.exp-title1 {
  width: 472.04px;
  display: flex;
  align-items: center;
}
.exp-title1 {
  position: relative;
  letter-spacing: -0.01em;
  justify-content: center;
  height: 102.62px;
  flex-shrink: 0;
}
.exp-title {
  height: 121.07px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18px;
}
.exp-1-box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1300px;
  height: 205.23px;
}
.himpunan-mahasiswa-elektronika {
  margin: 0;
  font-size: var(--font-size-17xl);
  font-family: var(--font-typo-grotesk);
}
.exp-1-title {
  position: absolute;
  top: 15.12px;
  left: 57.29px;
  letter-spacing: -0.04em;
  line-height: 116%;
}
.exp-1-div {
  position: undefined;
  width: 1300px;
  height: 205.234619140625px;
  margin-right: 234px;
  text-align: left;
}
.exp-2-box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  width: 1300px;
  height: 205.23px;
}
.exp-2-title {
  position: absolute;
  top: 15.12px;
  left: 33.87px;
  letter-spacing: -0.04em;
  line-height: 116%;
}
.exp-2-div {
  position: undefined;
  width: 1300px;
  height: 205.234619140625px;
  margin-left: 234px;
  color: var(--color-gray-300);
}
.exp-3-box {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1300px;
  height: 205.23px;
}
.exp-3-title {
  position: absolute;
  top: 21.12px;
  left: 57.29px;
  letter-spacing: -0.04em;
  line-height: 116%;
}
.exp-3-div {
  position: undefined;
  width: 1300px;
  height: 205.234619140625px;
  margin-right: 234px;
  text-align: left;
  font-size: var(--font-size-79xl);
}
.exp-4-title {
  position: absolute;
  top: 17.12px;
  left: 475.87px;
  letter-spacing: -0.04em;
  line-height: 116%;
}
.exp-5-div {
  position: undefined;
  width: 1300px;
  height: 205.234619140625px;
  margin-right: 234px;
  text-align: center;
  font-size: var(--font-size-79xl);
}
.exp-6-title {
  position: absolute;
  top: 15.12px;
  left: 364.87px;
  letter-spacing: -0.04em;
  line-height: 116%;
}
.exp-content {
  width: 1534.31px;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  font-size: var(--font-size-92xl);
  color: var(--color-gray-400);
  font-family: var(--font-nixie-one);
}
.about-title1,
.exp-content,
.exp-section {
  display: flex;
  align-items: center;
}
.exp-section {
  position: absolute;
  top: 2203.22px;
  left: 192.85px;
  width: 1534.31px;
  height: 1464.05px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 111px;
}
.about-title1 {
  position: relative;
  letter-spacing: -0.01em;
  justify-content: center;
  width: 242.22px;
  height: 102.62px;
  flex-shrink: 0;
}
.line-title-icon3 {
  position: relative;
  width: 247.41px;
  height: 1.5px;
}
.about-desc,
.about-title {
  position: undefined;
  display: flex;
  align-items: center;
}
.about-title {
  width: 247.25px;
  height: 127.61868286132812px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  margin-left: 0;
}
.about-desc {
  letter-spacing: -0.04em;
  line-height: 134%;
  width: 826.83447265625px;
  height: 690.21px;
  flex-shrink: 0;
  margin-bottom: 137px;
}
.about-picture-icon {
  position: relative;
  width: 640.21px;
  height: 876.91px;
  object-fit: cover;
}
.about-section,
.row-about {
  display: flex;
  align-items: center;
}
.row-about {
  width: 1488.21px;
  height: 876.91455078125px;
  flex-direction: row;
  justify-content: flex-end;
  gap: 73px;
  position: undefined;
  margin-left: 69px;
  text-align: left;
  font-size: var(--font-size-15xl);
  font-family: var(--font-codec-pro);
}
.about-section {
  top: 1089.28px;
  left: -0.15px;
  width: 1920.15px;
  height: 1075.55px;
  flex-direction: column;
  padding: 0 181.6614990234375px;
  box-sizing: border-box;
  justify-content: center;
  gap: 32px;
}
.about-section,
.jobs,
.slogan {
  position: absolute;
}
.slogan {
  top: 445.35px;
  left: 1159px;
  letter-spacing: -0.04em;
  line-height: 96.5%;
  font-family: var(--font-creative-thoughts);
}
.jobs {
  top: 316.46px;
  left: 1078px;
  font-size: 40px;
  letter-spacing: -0.01em;
  color: var(--color-white);
}
.title-name {
  align-self: stretch;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 0;
}
.line-title-icon4 {
  position: absolute;
  margin: 0 !important;
  top: 56.36px;
  left: 112.63px;
  width: 884.94px;
  height: 213.1px;
  z-index: 1;
}
.title-group {
  position: absolute;
  top: 93.5px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-197xl);
  color: var(--color-gainsboro);
}
.about-header {
  cursor: pointer;
  display: flex;
  width: 121.63px;
  height: 40.41px;
}
.about-header,
.certicates-header,
.exp-header {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-27xl);
  letter-spacing: -0.01em;
  font-family: var(--font-creative-thoughts);
  color: var(--color-dimgray);
  text-align: center;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
}
.exp-header {
  display: flex;
  width: 223.62px;
  height: 40.41px;
}
.certicates-header {
  cursor: pointer;
  width: 212.86px;
}
.certicates-header,
.contacts-header,
.header {
  height: 40.41px;
  display: flex;
}
.contacts-header {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-27xl);
  letter-spacing: -0.01em;
  font-family: var(--font-creative-thoughts);
  color: var(--color-dimgray);
  text-align: center;
  align-items: flex-end;
  justify-content: center;
  width: 170.6px;
  flex-shrink: 0;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 835.57px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
}
.intro-section {
  position: absolute;
  top: 73.01px;
  left: 193px;
  width: 1534px;
  height: 955.35px;
  text-align: right;
  font-size: var(--font-size-157xl);
  color: var(--color-dimgray);
  font-family: var(--font-nixie-one);
}
.full-portofolio {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 7106px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-77xl);
  color: var(--color-white);
  font-family: var(--font-creative-thoughts);
}
@media screen and (max-width: 1200px) {
  .full-portofolio {
    display: flex;
  }
}
