  .datetime{
    position:absolute;
    left: 90px;
    top: 80px;
    color: #fff;
    /* background: #10101E; */
    font-family: "Segoe UI", sans-serif;
    width: 380px;
    padding: 15px 10px;
    /* border: 3px solid #2E94E3; */
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
  }
  
  .datetime:hover{
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
  }
  
  .date{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    /* text-align: center; */
    letter-spacing: 3px;
  }
  
  .time{
    font-family: 'Poppins';
    font-size: 40px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
  }
  
  .time span:not(:last-child){
    font-family: 'Poppins';
    position: relative;
    /* margin: 0 6px; */
    font-weight: 600;
    /* text-align: center; */
    letter-spacing: 3px;
  }
  
  .time span:last-child{
    /* background: #2E94E3; */
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
  }

  .dashboard-1{
    position: absolute;
    top: 220px;
    left:90px;
    width: 274px;
    height: 192px;
    background-color: #FFC039;
    border-radius: 5%;
  }

    .dashboard-1:hover{
      background: #ffffff;
      box-shadow: 0 0 30px #2E94E3;
    }

    #tulisan-suhu{
      position:absolute;
      top: 8px;
      left: 80px;
      font-family: 'Poppins';
      font-weight: bold;
      font-size: 25px;
      color: black;
    }

    #variabel-suhu{
      position:absolute;
      top: 40px;
      left: 80px;
      font-family: 'Poppins', sans-serif;
      font-weight:600;
      font-size: 100px;
      color: black;
    }

    .dashboard-2{
      position: absolute;
      top: 220px;
      left:390px;
      width: 274px;
      height: 192px;
      background-color: #49FF39;
      border-radius: 5%;
    }
  
      .dashboard-2:hover{
        background: #ffffff;
        box-shadow: 0 0 30px #2E94E3;
      }
  
      #tulisan-ph{
        position:absolute;
        top: 8px;
        left: 80px;
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 25px;
        color: black;
      }
  
      #variabel-ph{
        position:absolute;
        top: 40px;
        left: 80px;
        font-family: 'Poppins', sans-serif;
        font-weight:600;
        font-size: 100px;
        color: black;
      }

      .dashboard-3{
        position: absolute;
        top: 220px;
        left:690px;
        width: 274px;
        height: 192px;
        background-color: #e22222;
        border-radius: 5%;
      }
    
        .dashboard-3:hover{
          background: #ffffff;
          box-shadow: 0 0 30px #2E94E3;
        }
    
        #tulisan-curah-hujan{
          position:absolute;
          top: 8px;
          left: 80px;
          font-family: 'Poppins';
          font-weight: bold;
          font-size: 25px;
          color: black;
        }
    
        #variabel-curah-hujan{
          position:absolute;
          top: 40px;
          left: 80px;
          font-family: 'Poppins', sans-serif;
          font-weight:600;
          font-size: 100px;
          color: black;
        }
    